@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
    --primary-color: #599F3D;
    --text-color: #212529
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  font-style: normal;
}

.navbar-brand {
    font-size: 36px;
}

.navbar-brand, .navbar button {
    color: white !important;
}

.navbar button {
    border: 1px solid white;
}

.navbar button:hover {
    background:  white;
    color: var(--text-color) !important;
}

.calories .card {
    color: white;
    border-radius: 5px;
}

.calorie-amount {
    font-size: 34px;
    font-weight: 700;
}

.calorie-description {
    font-size: 23px;
    font-weight: 400;
}
.calorie-limit {
    background-color: var(--text-color);
}

.calorie-gain {
    background: var(--primary-color);
}

.bg-danger-custom {
    background: #da1a1a;
}

/* Progress Bar */

.progress-bar-bg {
    background: var(--primary-color);
}

/* Meal and Workouts */

.meals-workouts input {
    width: 45%;
    border-radius: 4px;
    padding: 10px 0;
    margin-right: 20px;
    border:  1px solid gray;
    font-size: 15px;
} 

.meals-btn, .meal-calories-btn {
    background: var(--primary-color) !important;
    color: white;
}



.meals-btn:hover {
   opacity: 0.8 !important;
   color: white;
}

.meal-calories-btn:hover {
    color: white;
}

.workouts-btn, .workout-calories-btn {
    background: #FD7E14 !important;
    color: white
}

.workouts-btn:hover {
   opacity: 0.8 !important;
   color: white;
}

.workout-calories-btn:hover {
    color: white;
}

.meals-item p {
    font-size: 23px;
}
.meals-item button {
    font-size: 35px;
}

.collapse button {
    float: left;
}

.fa-square-xmark {
    color: #da1a1a;
}

.fa-square-xmark:hover {
    color: #e23535;
}

